form {

  & input {
    color: $shark_darker_grey;
    &.login-input {
      color: $whitesmoke;
    }
    &.chat-input {
      height: 80px;
    }
  }

  & .form-group {
    display: flex;
    max-height: 160px;
    flex-direction: row;
    align-items: center;
  }

}

body.theme-light {
  & form {
    & input.chat-input {
      background: $shark_dark_grey;
      color: $whitesmoke;
    }
  }
}
