$white: #fff;
$whitesmoke: #eeeeee;
$white_grey: #ededed;

$shark_grey: #2a2c32;
$shark_dark_grey: #22242a;
$shark_darker_grey: #191b22;

$red: #b5263e;
$rose: #db4a64;
$pale_green: #c5f3df;
$violet: #9173f4;
$orange: #e16a65;
$pale_red: #e74d58;
$cyan: #84d4d5;
$dark_green: #66c9a1;
$pale_green: #73e6ae;
$pale_yellow: #fdf9a7;
$yellow: #f9df8b;
$blue: #6fb1ed;
